<div class="product-details-banner">
  <div class="product-photo" [ngStyle]="{'background-image': 'url(' + image + ')'}">

  </div>

  <div class="product-info">
    <general [rating]="4.8" [title]="title"  [price]="price"></general>
    <!--<a href="#" class="product-guide">Size Guide</a>
    <selects [sizes]="[1, 2, 3, 4, 5]" [quantity]="[1, 2, 3, 4, 5, 6, 7]"></selects>
    <bag></bag> -->
    <div class="container">
      <div class="row no-gutters ">
        <div class="col-md-3">
          <a [routerLink]="['/app/product/edit/', id]" class="btn btn-default"> Edit </a>
        </div>
        <div class="col-md-3">
          <button (click)="delete()" class="btn btn-danger"> Delete </button>
        </div>
      </div>
    </div>
  </div>
</div>
