mgl-map {
  height: 80vh;
}
.marker-container{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #333;
  display:-webkit-inline-box;
  margin-left:20px;
}
.marker{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 30px;
}
.map-container{
  max-height: 300px;
  overflow-y: auto;
}
.shop-marker {
  background-image: url('../../../assets/img/logo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}